campus:
  canteen:
    datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      host: localhost
      port: 3306
      database: campus_canteen
      username: root
      password: your_password

    alioss:
      endpoint: https://oss-cn-beijing.aliyuncs.com
      accessKeyId: your_access_key_id
      accessKeySecret: your_access_key_secret
      bucketName: your_bucket_name

    redis:
      host: localhost
      port: 6379
      password:
      database: 0

    wechat:
      appid: your_wechat_appid
      secret: your_wechat_secret
